/* https://www.w3schools.com/howto/howto_css_fixed_menu.asp */
.navbar {
  overflow: hidden;
  background-color: #cce5ff;
  position: fixed;
  top: 0;
  width: 100%;
  height: 30px;
}

.navbar a {
  color: black;
  margin-top: 10px;
}

.navbar a:hover {
  color: blue;
}

.navbar a:visited {
  color: purple;
}

.main {
  margin-top: 45px;
}

#information {
  background-color:rgba(255, 0, 0, 0.5);
  text-align:center;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 5px 5px 5px 5px rgba(100,100,100,0.5);
}

#marin_headlands {
  background-color:rgba(255, 165, 0, 0.5);
  font-family:Arial !important;
  padding-top: 10px;
  padding-bottom: 10px;
}

#oracle_park {
  background-color:rgba(255, 255, 0, 0.5);
  font-family:Arial !important;
  padding-top: 10px;
  padding-bottom: 10px;
}

#fog_harbor {
  background-color:rgba(100, 255, 100, 0.5);
  font-family:Arial !important;
  padding-top: 10px;
  padding-bottom: 10px;
}

#ghiradelli_square {
  background-color:rgba(50, 50, 255, 0.5);
  font-family:Arial !important;
  padding-top: 10px;
  padding-bottom: 10px;
}

#body {
  background-color:rgba(150, 150, 0, 0.5);
  font-family:Times;
  line-height:110%;
  text-align: center;
}

#list {
  padding-bottom: 10px;
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
}

#title_header {
  color:white;
  font-family:Arial !important;
  font-size:28px;
  font-weight:100;
  text-decoration:underline;
  text-align: center;
  padding-top: 20px;
}


/*https://www.w3schools.com/css/css_list.asp*/
ol li {
  margin-left: 45%;
  margin-right: 45%;
  box-shadow: 2px 2px 2px 2px;
  padding-bottom: 5px;
  padding-top: 5px;
  background: #cce5ff;
}

ul li {
  margin-left: 40%;
  margin-right: 40%;
  box-shadow: 2px 2px 2px 2px;
  padding-bottom: 5px;
  padding-top: 5px;
  background: #cce5ff;
}

#intro_photo {
  height: auto;
  width: 550px;
}

#highlights {
  border-style:ridge;
  margin-left: 20%;
  margin-right: 20%;
}

#gmap {
  margin-left: 20%;
  margin-right: 20%;
}

#table {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background: #cce5ff;
  box-shadow: 2px 2px 2px 2px;
  border: 5px solid black;
}

#the_form {
  border: 5px solid black;
  margin: 0 auto;
  background: #cce5ff;
  width: 500px;
}

a:visited {
  color:pink;
}

a:link {
  color:green;
}

a:hover {
  color:white;
}

input:focus {
  background-color:gray;
}

.mapouter {
  align-content:left !important;
}
