#information {
  background-color:rgba(255, 0, 0, 0.5);
  text-align:center;
  padding-top: 10px;
  padding-bottom: 10px;
}

#marin_headlands {
  background-color:rgba(255, 165, 0, 0.5);
  font-family:Arial !important;
  padding-top: 10px;
  padding-bottom: 10px;
}

#oracle_park {
  background-color:rgba(255, 255, 0, 0.5);
  font-family:Arial !important;
  padding-top: 10px;
  padding-bottom: 10px;
}

#fog_harbor {
  background-color:rgba(100, 255, 100, 0.5);
  font-family:Arial !important;
  padding-top: 10px;
  padding-bottom: 10px;
}

#ghiradelli_square {
  background-color:rgba(50, 50, 255, 0.5);
  font-family:Arial !important;
  padding-top: 10px;
  padding-bottom: 10px;
}

#body {
  background-color:rgba(150, 150, 0, 0.5);
  font-family:Times;
  line-height:110%;
  text-align: center;
}

#list {
  padding-bottom: 10px;
}

#title_header {
  color:white;
  font-family:Arial !important;
  font-size:28px;
  font-weight:100;
  text-decoration:underline;
  text-align: center;
  padding-top: 20px;
}

a:visited {
  color:pink;
}

a:link {
  color:green;
}

a:hover {
  color:white;
}

input:focus {
  background-color:gray;
}

.mapouter {
  align-content:left !important;
}
